.App{
  height:200vh;
  overflow: hidden;
  
}
.app{
  background-color: #0f0f0f;
  bottom: 50vh;
  display: flex;
}
.navbar{
  background-color: #1F1F1F !important;
}
.navlogo{
  margin-left:70%;
}
.vl{
  height:200vh;
  border-left: 0.1px solid #ffffff33;
  z-index: -0500;
  position:relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#vl1{
  margin-left:5%;
  width: 50%;
  
  
}
#vl2{
  width: 40%;
}
.head{
  margin-top: 150px;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
  margin-left: 10px;
  
}
.head2{
  font-size: 20px;
  position:relative;
  color:#F7F7F7 !important;
  margin-left: 10px;
  
}
.head3{
  font-size: 20px;
  position:relative;
  color:#F7F7F7 !important;
  margin-left: 10px;
  
}
.head4{
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
  margin-left: 10px;
}
.circle{
  position: absolute;
  border: 0.1px solid #F3EFE6;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.circle::before{
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #C02D33;
  width: 75px;
  height: 75px;
  left: 162.5px;
  top: -37.5px;
}
.inner-text{
  color: #C02D33;
  font-family: 'IBM Plex Mono';
  font-size: 44px;
  margin-top: 328px;
}
.flex-container{
  display: flex;
}
.arrowd{
  margin-bottom: 200px;
}
.a{
  color: #286099 !important;
}
.b{
  color: #c02d33 !important;
}
.c{
  color: #f26539 !important;;
}
.d{
  color: #a6ce39 !important;;
}
.e{
  color: #55c4c4 !important;;
}


#a{
  color: #286099 !important;
}
#b{
  color: #c02d33 !important;
}
#c{
  color: #f26539 !important;;
}
#d{
  color: #a6ce39 !important;;
}
#e{
  color: #55c4c4 !important;;
}


#ca::before{
  background-color: #286099 !important;
}
#cb::before{
  background-color: #c02d33 !important;
}
#cc::before{
  background-color: #f26539 !important;;
}
#cd::before{
  background-color: #a6ce39 !important;;
}
#ce::before{
  background-color: #55c4c4 !important;;
}