.App{
  height:100vh;
  overflow:hidden;
}

.app{
  background-color: #0f0f0f;
  bottom: 50vh;
  display: flex;
}
.navbar{
  background-color: #1F1F1F !important;
}
.navlogo{
  margin-left:70%;
}

.vl{
  height:100vh;
  border-left: 0.1px solid #FFFFFF;
  float:left;
  z-index: -0500;
  position:relative;
}
#vl1{
  margin-left:5%;
}
#vl2{
  margin-left:55%;
}
#vl3{
  margin-left:30%;
}
.head{
  display: flex;
  position:relative;
  bottom:85vh;
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
  
  left:5.1%;
}
.head2{
  font-size: 20px;
  display: flex;
  position:relative;
  bottom:85vh;
  color:#F7F7F7 !important;
  left:5%;
}