.member{
    width:350px;
    height: 350px;
    background-color: #1F1F1F;
    border-radius: 8px;
    
    margin-top: 4%;
    padding: 40px;
  }

.img-name{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.img-name img{
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #F3EFE6;
    font-size: 13px;
    font-family: 'IBM Plex Mono';
    max-width: 80px;
    text-align: center;
    border: 2px solid #C02D33;
}
.img-name p{
    display: inline-block;
    margin-left: 25px;
    color: #F3EFE6;
    font-size: 24px;
    font-family: 'Anton';
    max-width: 220px;
    
}
.designation{
    margin-top: 15px;
    color: #C02D33;
    font-size: 18px;
    font-family: 'IBM Plex Mono';
    font-weight: bold;
    margin-bottom: 5px;
}
.skill{
    color: #F3EFE6;
    font-size: 13px;
    font-family: 'IBM Plex Mono';
    margin-bottom: 5px;
}
.desc{
    color: #f3efe69a;
    font-size: 13px;
    font-family: 'IBM Plex Mono';
    margin-bottom: 5px;
    line-height: 18px;
}


@media only screen and (max-width:1000px){
    .member{
        margin: 20px;
        padding: 20px;
        position: relative;
        height: fit-content;
        width: 90%;
    }
    .img-name{
        align-items:flex-start;
    }
    .img-name p{
        margin-left: 10px;
        font-size: 18px;
    }
    .designation{
        position: absolute;
        font-size: 14px;
        left: 109.3px;
        top: 30px;
    }
    .skill{
        position: absolute;
        font-size: 10px;
        left: 109.3px;
        top: 66px;
    }
    .team{
        margin-left: 2%;
        margin-right: 2%;
    }
    .socialf{
        padding-bottom: 8px;
    }
}